<head>
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "sign.css" %>
 <% end %>
 </head>
<body> 
<div class="sign_up_form">
<h2>Sign up </h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>


    <%= f.label :email %>
    <br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  
<br>
<br>
    <%= f.label :password %>
  
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password" %>
 

  
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  
<br>
<br>
    <%= f.submit "Sign up" %>
  
<% end %>
<br>
 <p> Do you already have an account? </p>
<%= render "devise/shared/links" %>
</div>
</body>