<%= form_with model: listing, local: true do |form| %>
    <div> 
        <%= form.label :title %> 
        <%= form.text_field :title, value: listing.title %>
    </div> 
    <div> 
    <%= form.label :description %> 
    <%= form.text_area :description, value: listing.description %>
</div> 
<div> 
<%= form.label :condition %> 
<%= form.text_field :condition, value: listing.condition %>
</div> 
<div> 
<%= form.label :price %> 
<%= form.number_field :price, value: listing.price, min: 0 %>
</div> 
<div> 
<%= form.label :picture %> 
<%= form.file_field :picture, accept: "image/png,image/jpeg,image/jpg" %>
</div> 
<div>
<%= form.submit %>
</div>


    <% end %> 