<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="application.scss" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>

    <body>
<h1>Pop Party!</h1>
<div class="topnav">
<%= link_to"Home", route_path%>
  <%= link_to"All Pops For Sale", listings_path%>
  <%= link_to"Sell Pop", new_listing_path%>
  <%= link_to"Inbox", conversations_path%>
</div>

<h2> All Listings Available </h2> 

<ul> 
<% for listing in @listings   %> 
    <li> 
        <%= link_to "#{listing.title} - #{number_to_currency(listing.price)}", listing_path(listing.id)%>
      </li>
<% end %>
</ul>

</body> 