<h1><%= @listing.title.capitalize() %></h1>
<% if @listing.picture.attached? %>
<% image_tag @listing.picture, style: "width: 200px"%> 
<% end %> 
<br> 


<% if current_user.id == @listing.user.id %>
<%= link_to "edit" , edit_listing_path(@listing.id)%>

    <%= form_with model: @listing, local: true, method: :delete do |form| %>
        <%= submit_tag "delete" %> 
<% end %> 
<% end %>
<br>
<br>

The Price for this item is $<%= @listing.price %> 
<br> 
<br>

Seller's Email : <%= @listing.user.email %>

<p> 
    Condition : <%= @listing.condition.capitalize() %>
</p>



<p> 
   Description : <%= @listing.description.capitalize() %>
</p>