<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="application.scss" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head> 

<body>



<div class="topnav">
<%= link_to"Home", route_path%>
  <%= link_to"All Pops For Sale", listings_path%>, new_listing_path>
  <%= link_to"Sell Pop", new_listing_path%>
  <%= link_to"Inbox", conversations_path%>
</div>




<h1><%= @listing.title.capitalize() %></h1>
<% if @listing.picture.attached? %>
<%= image_tag @listing.picture, style: "width: 200px"%> 
<% end %> 
<br> 


<% if current_user.id == @listing.user.id %>
<%= link_to "edit" , edit_listing_path(@listing.id)%>

    <%= form_with model: @listing, local: true, method: :delete do |form| %>
        <%= submit_tag "delete" %> 
<% end %> 
<% end %>
<br>
<br>

The Price for this item is $<%= @listing.price %> 
<br> 
<br>

Seller's Email : <%= @listing.user.email %>

<p> 
    Condition : <%= @listing.condition.capitalize() %>
</p>



<p> 
   Description : <%= @listing.description.capitalize() %>
</p>
</body>