<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="application.scss" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head> 
<body>

<%= image_tag('logo.png') %> 
<div class="topnav">
<%= link_to"Home", route_path%>
  <%= link_to"All Pops For Sale", listings_path%>
  <%= link_to"Sell Pop", new_listing_path%>
  <%= link_to"Inbox", conversations_path%>
</div>



<h2>Pop Marketplace for Pop Enthusiasts</h2>

</body>



