<!DOCTYPE html>
<html>
  <head>
    <title>PopParty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <html lang="en">
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="application.scss" >
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        </head>
    
   

  <body>
  <%= image_tag('logo.png') %> 
 
  <% if user_signed_in? %> 
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <% else %>
  <%= link_to"Login/Signup", new_user_session_path %>
  <% end %>
  

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

    <%= yield %>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/1367c008fd.js" crossorigin="anonymous"></script>






    <ul>
        <li>
            <a href="https://twitter.com/PandaOwatch" target="blank">


                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <i class="fab fa-twitter"></i>
        </a>
        </li>
        <li>
            <a href="https://github.com/MartinVald2170" target="blank">


                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <i class="fab fa-github"></i>
        </a>
        </li>
        <li>
            <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.youtube.com%2Fchannel%2FUC2r_gowS8eNUVP-0raq9zsg%3Ffbclid%3DIwAR1q38QmmiHWuG0PR4EgwTjstvUiyvO-nae9jASxpuhVxZ6Bv5CDGmOvJis&h=AT2szeQlVe6YokOI1KXWvPUXPJzxd-iGIB8BefiuXr9hkSl-1g8itGxH-bkGeiljyhCmdJgYLeZn4mq50QauWoKSkD7DCO38ipV7mkdayAr8KzLn7BycMglnIGyCMYLe1T3pmA" target="blank" >


                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <i class="fab fa-youtube"></i>
        </a>
        </li>
    </ul>

















  </body>
</html>
